statemachine/Lambda_State_Machine.asl.json
{
    "Comment": "CalculationStateMachine",
    "StartAt": "CleanInput",
    "States": {
      "CleanInput": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Parameters": {
          "FunctionName": "${CleanFunctionArn}",
          "Payload": {
            "input.$": "$"
          }
        },
        "Next": "Multiply"
      },
      "Multiply": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Parameters": {
          "FunctionName": "${MultiplyFunctionArn}",
          "Payload": {
            "input.$": "$.Payload"
          }
        },
        "Next": "Choice"
      },
      "Choice": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.Payload.result",
            "NumericGreaterThanEquals": 20,
            "Next": "Subtract"
          }
        ],
        "Default": "Notify"
      },
      "Subtract": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Parameters": {
          "FunctionName": "${SubtractFunctionArn}",
          "Payload": {
            "input.$": "$.Payload"
          }
        },
        "Next": "Add"
      },
      "Add": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Parameters": {
          "FunctionName": "${AddFunctionArn}",
          "Payload": {
            "input.$": "$.Payload"
          }
        },
        "Next": "Divide"
      },
      "Divide": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Parameters": {
          "FunctionName": "${DivideFunctionArn}",
          "Payload": {
            "input.$": "$.Payload"
          }
        },
        "End": true
      },
      "Notify": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "arn:aws:sns:us-east-1:0123456789:CalculateNotify",
          "Message.$": "$$",
          "Subject": "Failed Test"
        },
        "End": true
      }
    }
  }
  